<div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor="let category of filterByName; let i = index">
        <!-- fix so the router doesnt go to wron when clicking here -->
        <a [routerLink]="'category/' + category.id">{{ category.name }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
<div *ngFor="let product of filterProducts; let i = index" class="col-6 mt-2">
  <ul>
    <li><h2>{{ product.name }}</h2></li>
    <li>Description: {{ product.description }}</li>
    <li>Year: {{ product.year }}</li>
    <li>Price: ${{ product.price }}</li>
    <li>Genre: <span *ngFor="let genres of product.productCategory; let last = last">{{ genres.category }}{{ !last ? ', ' : '' }}</span></li>
  </ul>
  <img class="img-fluid" [alt]="product.name" [src]="product.imageUrl">
  </div>
</div>