<a [routerLink]="['/']">
  All products
</a>

<div class="row">
  <div class="col-6">
    <ul>
      <li *ngFor="let category of filterByName; let i = index">
        <!-- fix so the router doesnt go to wron when clicking here -->
        <a [routerLink]="'/category/' + category.id">{{ category.name }}</a>
      </li>
    </ul>
  </div>
  <div class="col-6 justify-content-center">
    <span>{{ productsInCart.length }} products in checkout for ${{ amountInCart }}</span>
    <br>
    <a [routerLink]="'/check-out/'">Proceed to Checkout</a>
  </div>
</div>

